.header-about {
    min-height: 626px;
    background-color: $home-background;;
}
.about-blurb {
    // max-width: 630px;
    h1 {
        font-size: 44px;
        font-weight: 800 !important;
        color: $secondary !important;
    }
    p {
        font-family: $primary-font !important;
        font-size: 16px;
        line-height: 30px;
        font-weight: 500 !important;
        color: $secondary !important;
    }
}
// .header-about img {
//     max-width: 90%;
// }
.portada {
    .wp-block-media-text .wp-block-media-text__content {
        padding: 0;
    }
}
.our-story {
    h2 {
        font-family: $Kanit !important;
        color: $font-color !important;
        font-weight: 800 !important;
        font-size: 40px;
    }
    p {
        color: $font-color !important;
        font-family: $primary-font !important;
        font-weight: 500 !important;
        font-size: 18px;
        line-height: 32px;
    }
    h3 {
        font-family: $Kanit !important;
        color: $font-color !important;
        font-size: 30px;
        font-weight: 600 !important;
    }
}
.metrics {
    h4 {
        font-family: $Kanit !important;
        color: $primary !important;
        font-size: 28px;
        font-weight: 700 !important;
    }
    p {
        font-family: $primary-font !important;
        font-size: 18px;
        line-height: 32px;
        font-weight: 500 !important;
        color: $font-color !important;
    }
}
.office h2 {
    font-family: $Kanit !important;
    color: $secondary !important;
    font-weight: 800 !important;
    font-size: 40px;
}
.office, .work-with-us {
    background-color: $font-color;
}
.work-with-us {

    .card {
        border-radius: 16px;
    }
    h4 {
        color: $primary;
    }
    p {
        font-family: $primary-font !important;
        color: $font-color !important;
        font-size: 18px;
        line-height: 32px;
    }
    .btn {
        width: 100%;
    }
}
@include media-breakpoint-up(md) {
    .work-with-us .btn {
        width: unset;
    }
}
@media (max-width: 768px) {
    .portada {
        .wp-block-media-text.has-media-on-the-right {
            display: flex;
            flex-direction: column;
        }
    }
        

}
@include media-breakpoint-up(lg) {
    .header-about img {
        max-width: 90% !important;
    }
    .about-blurb {
        // max-width: 500px;
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 18px;
        }
    }
}